.mobileNav {
  @apply mr-5 relative;
}
.menuIcon {
  @apply text-[50px] text-white p-[5px] rounded-[10px] border-[3px] border-solid border-[#D4BFEC];
}
/* ======== Mobile Menu Here ========= */
.menu {
  @apply absolute z-10 -left-[450px] top-[65px] bg-[rgb(9,114,109)] w-[500px] py-5 shadow-lg rounded-lg;
  animation: menu 1s linear;
}
.menu ul {
  @apply flex flex-col items-center gap-5;
}
.menu ul li a {
  @apply font-Inter font-semibold text-[22px] text-white;
}

/* ========== Mobile Menu Animation ========== */
@keyframes menu {
  from {
    opacity: 0;
    top: 50px;
    left: -435px;
  }
  to {
    opacity: 1;
    top: 65px;
    left: -450px;
  }
}
